{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}
{% block description %}{{ article.description or super() }}{% endblock %}
{% block head %}
{{ super() }}
	<link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
	{% for tag in article.tags %}
	<meta name="tags" content="{{ tag }}">
	{% endfor %}
{% endblock head %}

{% block content %}
<div class="container">
	<article role="article">
		<header>
			<h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1><!--
			--><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time><!--
			--><p class="category">{{ article.category }}</p>
		</header>
		<div class="content">
			{% if article.cover %}<img class="cover" src="{{ SITEURL }}/{{ article.cover }}" />{% endif %}
			{{ article.content }}
		</div>
	</article>
</div>
{% endblock content %}