<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
	{% block head %}
	{% if GOOGLE_ANALYTICS %}
	<link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', '{{ GOOGLE_ANALYTICS }}');
	</script>
	{% endif %}
	<meta charset="utf-8" />
	<meta name="description" content="{% block description %}{{ SITEDESC }}{% endblock %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	{% assets filters="cssmin", output="style.min.css", "css/normalize.css", "css/pygments.css", "css/style.css" %}
		<link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}" />
	{% endassets %}
	<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"> -->
	<!-- <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"> -->
	<!-- <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> -->
	<link rel="manifest" href="/site.webmanifest">
	{% endblock head %}
</head>
<body role="document">
	<div id="page">
		<header id="header">
			<div class="container">
				<h1><a href="{{ SITEURL }}/">{{ SITENAME }}{% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
				<p id="sentence" class="text-muted">&#127839; &amp; <span id="buzzword">tech</span></p>
				<nav role="navigation">
					<ul>
						<li><a{% if not page %} class="active"{% endif %} href="{{ SITEURL }}/" title="блог">Блог</a></li>
					{% if DISPLAY_PAGES_ON_MENU %}
						{% for p in pages %}
						<li><a{% if p == page %} class="active"{% endif %} href="{{ SITEURL}}/{{ p.url }}">{{ p.title }}</a></li>
						{% endfor %}
					{% endif %}
					</ul>
				</nav>
			</div>
		</header>
		<div id="main" role="main">
			{% block content %}
			{% endblock content %}
		</div>
		<footer id="footer" role="contentinfo">
			<p><small>{% if COPYRIGHT_YEAR %}&copy; Copyright {{ COPYRIGHT_YEAR }} - {{ AUTHOR }}<br>{% endif %} Сайт сгенерирован с помощью <a href="https://blog.getpelican.com/">Pelican</a>{% if HOSTING_NAME %} и размещен на <a href="{{ HOSTING_URL or '#' }}">{{ HOSTING_NAME }}</a></small>{% endif %}</p>
			{% if SOCIAL %}
			<div class="social-icons">
			{% for link in SOCIAL %}
				{% if link|length >= 2 %}
				<span><a href="{{ link[1] }}" title="{{ link[0] }}">{% if link|length > 2 %}{{ link[2] }}{% else %}{{ link[0] }}{% endif %}</a></span>
				{% endif %}
			{% endfor %}
			</div>
			{% endif %}
		</footer>
	</div>
	{% assets filters="rjsmin", output="main.min.js", "js/main.js" %}
	<script type="text/javascript" src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
	{% endassets %}
	<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
</body>
</html>