{% extends "base.html" %}
{% block title %}{{ SITENAME }} - Блог{% endblock %}
{% block head %}
{{ super() }}
	<link rel="canonical" href="{{ SITEURL }}/">
{% endblock head %}

{% block content %}
<div class="container">
<section>
	<!-- <h1>Статьи</h1> -->
	{% for article in articles_page.object_list %}
	<article>
		<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time><!--
		--><h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
	</article>
	{% endfor %}
</section>
</div>
{% endblock content %}