{% extends "base.html" %}
{% block title %}{{ SITENAME }} - Статьи с тегами "{{ tag }}"{% endblock %}
{% block content %}
<div class="container">
<section>
	<h1>Статьи с тегами <span class="text-muted">"{{ tag }}"</span></h1>
	{% for article in articles_page.object_list %}
	<article>
		<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time><!--
		--><h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
	</article>
	{% endfor %}
</section>
</div>
{% endblock content %}