{% extends "base.html" %}
{% block title %}{{ SITENAME }} - Теги{% endblock %}
{% block content %}
{% block head %}
{{ super() }}
	<link rel="canonical" href="{{ SITEURL }}/{{ TAGS_URL }}">
{% endblock head %}

<div class="container">
<section>
    <h1>Теги</h1>
    <ul class="inline">
    {% for tag, articles in tags|sort %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name }} <small class="text-muted">({{ articles|count }})</small></a></li>
    {% endfor %}
    </ul>
</section>
</div>
{% endblock content %}